.trending {
  position: absolute;
  left: 1rem;
  bottom: .25rem;
}
.trending > span {
  font-size: var(--heading-s);
} 
.showcase {
  position: static;
} 
.movie-data {
  pointer-events: none;
}
.movie-data ul {
  font-weight: 300;
  display: flex;
  align-items: center;
  list-style: none;
}
.movie-data span {
  color: white;
}
.movie-data li {
  font-weight: 300;
  color: #D1D2D7;
  font-size: var(--text-sm);
}
.movie-data li:first-child {
  list-style: none;
}
.movie-data img {
  width: 12px;
  margin-right: .25rem;
}

@media only screen and (min-width: 768px) {
  .movie-data {
    bottom: 1.2rem;
  }
  .showcase span {
    color: white;
    font-size: var(--heading-xs);
  }
}

@media only screen and (min-width: 1024px) {
  
}