.navigation {
  background-color: var(--semi-dark-blue);
  height: 55px;
  display: flex;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.logo {
  display: flex;
  cursor: pointer;
}

.nav ul {
  list-style-type: none;
  display: flex;
  
}
.nav-item {
  margin: 0 10px;
  cursor: pointer;
}
.nav-item svg {
  transition: 250ms ease-in;
  fill: var(--svg-menu-default);
}
.nav .nav-item svg:hover{
  transform: scale(1.2);
  fill: var(--red)
}

.user img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}