.navigation {
  background-color: var(--semi-dark-blue);
  height: 55px;
  display: flex;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 10px;
}

.logo {
  display: flex;
  cursor: pointer;
}

.nav ul {
  list-style-type: none;
  display: flex;
}
.nav-item {
  margin: 0 10px;
  cursor: pointer;
}
.nav-item svg {
  transition: 200ms ease-in;
  fill: var(--svg-menu-default);
}
.nav-item:hover .logo{
  transform: scale(1.2);
  fill: var(--red)
}

.user img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.nav-item .active {
  fill: #FFF;
}

@media only screen and (min-width: 768px) {
  .navigation {
    margin: 20px 25px;
    border-radius: 10px;
    height: 65px;
  }
  .user img {
    height: 32px;
    width: 32px;
  }
}

@media only screen and (min-width: 1025px) {
  .navigation {
    height: auto;
    align-items: stretch;
    margin: 20px 25px;

  }
  .navigation .content {
    flex-direction: column;
    justify-content: initial;
    margin: 0;
    padding: 20px 15px;
  }
  .navigation .nav {
    margin-top: 4.5rem;
  }
  .nav ul {
    flex-direction: column;
  }
  .nav .nav-item {
    margin: 1rem 0;
  }
  .navigation .user {
    margin-top: auto;
  }
}