.container {
  margin: 1rem 0;
}

.content {
  margin: 0 10px;
}

.content .input {
  display: flex;
}

input[type="search"] {
  background: transparent;
  margin: 0;
  color: var(--white);
  border: 1px solid transparent;
  border-radius: inherit;
  flex: 1 0;
  font-size: var(--text-md);
  font-weight: var(--font-light);
  margin-left: .75em;
  caret-color: var(--red);
}

.input .logo {
  opacity: 0.7;
  border-radius: 50%;
  transition: 200ms ease-in;
}

.input .logo:hover {
  opacity: 1;
}

input[type="search"]::placeholder {
  color: var(--white);
  letter-spacing: .025rem;
}

button[type="submit"] {
  border: 1px solid transparent;
  border-radius: inherit;
  /* background: transparent url("../../assets/icon-search.svg") no-repeat center; */
  cursor: pointer;
  background-color:transparent;
  height: 32px;
  width: 32px;
  border: none;
  outline: none;
  background: none;
}

input[type="search"]:focus {
  outline: none;
  border-bottom: 1px solid var(--greyish-blue);
  transition: 200ms ease-in;
}

@media only screen and (min-width: 768px) {
  .content {
    margin: 0 25px;
  }
}

@media only screen and (min-width: 1025px) {
  .content {
    margin: 0;
  }
  .container {
    margin-top: 35px;
    margin-left: 6rem;
  }
}