.movie-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 240px;
  margin-right: 1.5rem;
}
.bookmark {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 8px;
  border-radius: 50%;
  border: none;
  background-color: hsla(223, 36%, 14%, 0.5);
  cursor: pointer;

}
.bookmark:hover {
  background-color: white;
}
.bookmark:hover .bookmark-icon{
  fill: #000;
}
.bookmark .bookmark-icon {
  display: block;
}
.movie {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 7px;
}

@media only screen and (min-width: 768px) {
  .movie-container {
    width: 450px;
  }
}
@media only screen and (min-width: 1024px) {
  .movie-container {
    width: 470px;
  }
}

