.container {
  margin: 0 10px;
}
.showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  gap: 20px;
}
.showcase-item {
  position: relative;
}

img {
  width: 100%;
  height: auto;
}
