:root {
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 97%, 63%);
  --greyish-blue: hsl(223, 23%, 46%);
  --dark-blue: hsl(223, 30%, 9%);
  --semi-dark-blue: hsl(223, 36%, 14%);
  --svg-menu-default: #5a698f;
  --font-light: 300;
  --font-medium: 500;
  --text-sm: 13px;
  --text-md: 16px;
  --heading-xs: 18px;
  --heading-lg: 32px;
  --heading-m: 24px;
  --heading-s: 24px;
  --container-padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--dark-blue);
  font-family: 'Outfit', sans-serif;
}

input {
  font-family: inherit;
}