:root {
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 97%, 63%);
  --greyish-blue: hsl(223, 23%, 46%);
  --dark-blue: hsl(223, 30%, 9%);
  --semi-dark-blue: hsl(223, 36%, 14%);
  --svg-menu-default: #5A698F;
  --font-light: 300;
  --font-medium: 500;
  --text-sm: 13px;
  --text-md: 15px;
  --heading-xs: 18px;
  --heading-lg: 32px;
  --heading-m: 24px;
  --heading-s: 24px;
  --container-padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
